* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    color: #faf6f0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.section-p {
    padding: 20px 60px;
}

.arrow {
    color: #faf6f0;
    margin-left: 8px;
}

/* HEADER && NAVBAR */

header {
    background-color: #000;
    position: relative;
}

.brand {
    color: #faf6f0;
    padding: 0 20px;
    text-transform: uppercase;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
}

.navbar ul li {
    cursor: pointer;
}

.navbar ul li a {
    color: #faf6f0;
    text-transform: uppercase;
    padding: 20px 0;
}

.typeA ul.more-infoA,
.typeB ul.more-infoB {
    display: none;
}

.typeA .more-infoA {
    width: 200px;
    display: inline-block;
    position: absolute;
    background-color: #faf6f0;
    bottom: -40px;
    padding-left: 12px;
    padding-right: 12px;
    z-index: 2;
}

ul .more-infoA {
    height: 40px;
}

.typeB .more-infoB {
    width: 280px;
    display: inline-block;
    position: absolute;
    background-color: #faf6f0;
    bottom: -160px;
    padding: 12px;
    z-index: 2;
}

ul .more-infoB {
    height: 160px;
}

.typeA ul.more-infoA a,
.typeB ul.more-infoB a {
    color: #000;
    text-transform: capitalize;
    padding: 0;
}

.more-infoB {
    grid-template-columns: auto auto auto;
    gap: 12px;
}

.search-box {
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-box a {
    padding-left: 12px;
    border: 0;
    color: #faf6f0;
}

.search-box input {
    width: 200px;
    height: 24px;
    border-radius: 8px;
}

/* HERO SECTION */

#hero {
    width: 100%;
    background-color: #000;
}

#hero .my-slide {
    position: relative;
    width: 100%;
    display: none;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    z-index: 999;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

#hero video.trailer1,
#hero video.trailer2,
#hero video.trailer3 {
    width: 80%;
    height: auto;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

#hero .container1,
#hero .container2,
#hero .container3 {
    position: absolute;
    color: #faf6f0;
    top: 24%;
    padding: 20px;
    border-radius: 12px;
    line-height: 2;
    opacity: 0.8;
    width: 44%;
    transition: opacity 0.3s ease-in-out;
}

#hero h1 {
    font-size: 60px;
    background-color: #faf6f0;
    color: #000;
    border-radius: 12px;
    width: fit-content;
}

.my-slide .tag {
    padding-left: 12px;
}

.my-slide .desc {
    width: 100%;
}

.btn {
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
    color: #000;
    background-color: #faf6f0;
    opacity: 1;
    font-weight: 700;
}

/* RECOMMEND SECTION */

#recommend {
    width: 100%;
    background-color: #000;
}

#recommend .recommend-box {
    background-color: #faf6f0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    cursor: pointer;
    padding: 20px 0;
}

#recommend .recommend-box div span {
    top: 28px;
    padding-left: 8px;
    position: absolute;
}

#recommend .recommend-box div p {
    margin: 0 auto;
    color: #000;
    text-align: center;
}
